.Header{
  border-bottom: 1px solid #ffffff30;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 23px 0;

  &__title{
    cursor: pointer;
  }
  &__search{
    position: relative;
    display: flex;
    align-items: center;

    &-left{
      position: absolute;
      left: 10px;
      cursor: pointer;
    }
    &-right{
      position: absolute;
      right: 20px;
      cursor: pointer;

    }
    &-field{
      width: 555px;
      padding:15px 30px 15px 35px ;
      background: #504B4A;
      border: none;
      border-radius: 15px;
      font-size: 18px;
      &::placeholder{
        color: #CFCFCF;
      }
    }
  }
  &__phone{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;

    &-icon{
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      width: 2vw;
      height: 2vw;
      background: #618967;
      cursor: pointer;
    }
    &-block{
      display: flex;
      flex-direction: column;
    }
    &-text{
      font-size: 12px;
      font-family: 'Gilroy', sans-serif;
      font-weight: 400;
      color: #CFCFCF;
      cursor: pointer;
    }
    &-number{
      font-size: 16px;
      font-weight: 700;
      font-family: 'Gilroy', sans-serif;
      cursor: pointer;
    }

  }

  &__basket{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    border-radius: 10px ;
    border: none;
    padding:18px 16px;
    cursor: pointer;
    &-text{
      padding-right: 20px;
    }
    &-counts{
      padding-left: 16px;
      border-left: 2px solid #ffffff40;

    }
    &-count{
      background: white;
      color: black;
      border-radius: 30px;
      width: 2vw;
      height: 2vw;
      display: flex;
      justify-content: center;
      align-items: center;

    }
  }

}
