.product {
  padding: 44px 0 50px;

  &__block{
    margin-bottom: 30px;
  }
  &__content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  &__svg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    background: #79B282;
    border-radius: 50%;
  }
  &__info{
    display: flex;
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
border-radius: 20px;
  }
  &__img{
    width: 50%;

    background: center/cover no-repeat;
    border-radius: 20px;
  }
  &__right{
    padding:50px 40px ;

    &-title{
      font-size: 25px;
    }
    &-desc{
      margin: 5px 0 20px;
      font-size: 14px;
      color: #CFCFCF;
      font-weight: 400;
    }
    &-block{
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      margin-bottom: 30px;
    }
  }


}
.returnBtn{
  align-items: center;
  display: flex;
  cursor: pointer;
  margin: 30px 0;
  column-gap: 10px;
}